---
import Section from "./Section.astro";
---

<Section
  title="Transformamos las perforaciones de exploracion con inteligencia artificial"
  subtitle="Asistente intelgiente para peprforacin dimaantina: gestiona datos, optimza disicones y potencia reusltados"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="inline-block rounded border-[3px] border-white bg-white/5 px-12 py-2 text-sm font-medium text-white backdrop-blur-sm transition-colors hover:bg-white hover:text-black"
      href="https://wa.me/51959549445"
    >
      Conoce como funciona</a
    >
  </div>

  <!-- <video
    slot="background"
    class="h-full w-full object-cover object-center"
    autoplay
    muted
    loop
    src="/geologia.webm"></video>
 -->

  <video
    slot="background"
    class="h-full w-full object-cover object-center"
    autoplay
    muted
    loop
    playsinline
  >
    <!-- <source src="/geologia.mp4" type="video/mp4" /> -->
    <source src="/geologia.mp4" type="video/mp4" />
    <source src="/geologia.webm" type="video/webm" />
  </video>
</Section>
